/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.checkbox-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

    .checkbox-remember-forgot label {
        display: flex;
        align-items: center;
    }

    .checkbox-remember-forgot a:hover {
        text-decoration: underline;
    }

    .checkbox-remember-forgot a {
        color: #fff;
        text-align: none;
        text-decoration: none;
    }

/* Example: Override default button color and background-color */
.btn {
    color: #333;
    background-color: #fff;
    border-color: #5300a6;
}

/* Example: Override primary button color and background-color */
.btn-primary {
    color: #5300a6;
    background-color: #fff;
    border-color: #5300a6;
}

/* Example: Override button hover styles */
.btn:hover {
    color: #fff;
    background-color: #5300a6;
    border-color: #5300a6;
}

a:hover {
    color: #5300a6;
}