@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <div class="container center-container">
        <div class="text-center">
            <h1 class="display-4 title">Welcome to Xenhusk</h1>
            <p class="subtitle">Where Questions and Answers are its Home!</p>
        </div>
    </div>
</body>
