@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
    margin-bottom: 60px;
}

.navbar-nav li.nav-item:not(.exclude-hover) a.nav-link {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

    .navbar-nav li.nav-item:not(.exclude-hover) a.nav-link:hover {
        transform: scale(1.2);
    }

@keyframes fadeInAndSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    animation: fadeInAndSlideIn 1s ease-in;
}

.subtitle {
    animation: fadeInAndSlideIn 1.1s ease-in;
}

